/* disable text selection */

rect.background {
  cursor: default !important; }

body.zooming {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

body:not(.brushing):not(.zooming) svg .handle-drag {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

body:not(.brushing):not(.zooming) svg:not(.handle-drag) .selectable .handle, .handle-resize {
  cursor: ew-resize; }

.soom { margin-top: 3rem;}
.timeline { margin-bottom: 3rem;}

.extent {
  stroke: #333;
  fill: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

canvas {
  pointer-events: none; }

/*.timeline{
  background-color: #fdf6e3;
  width: 800px;
}*/

.bkp-line, .anch-item{ shape-rendering: crispEdges; }

.selected circle{
  stroke:#fff;
}

a{
  text-decoration: underline;
}

a:hover {
  cursor:pointer; 
}

.selected rect{
  fill-opacity: 1;
}

.timeline-editing-sg, .timeline-editing, #bachoteque-vis, .timeline-mubu, .paris-son{
  /*background-color: #eee;*/
  width:650px;
  padding: 1rem 0;
  border: 1px solid #333;
}